<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
    position="end"
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="sidenavToggle"
      >

    <mat-toolbar>
      Shopping List
      <mat-icon matTooltip="Delete shopping list?" (click)="deleteShoppingList()">delete</mat-icon>
    </mat-toolbar>

    <router-outlet name="shopping"></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button
        *ngIf="showBackButton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        [routerLink]="['recipes']"
      >
        <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
      </button>
      <span>Recipe Ace</span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        [routerLink]="[{ outlets: { shopping: ['list'] } }] "
        [matTooltip]="!drawer.opened ? 'Show shopping list?' : 'Hide shopping list'"
        (click)="drawer.toggle()">
        <mat-icon svgIcon="" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet (activate)="activated($event)" (deactivate)="deactivated($event)"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

